<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-dark border-right border-dark text-white" id="sidebar-wrapper">
    <div class="sidebar-heading">LOGO</div>
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action bg-secondary text-white" id="list-expense-list" data-toggle="collapse" href="#list-income-expense">Income-Expense</a>
      <div class="list-group list-group-flush" id="list-tab" role="tablist">
        <div class="collapse show" id="list-income-expense">
          <a class="list-group-item list-group-item-action bg-light" id="list-expense" routerLink="expense">Expense</a>
          <a class="list-group-item list-group-item-action bg-light" id="list-income" routerLink="income">Income</a>
        </div>
      </div>
      <a class="list-group-item list-group-item-action bg-secondary text-white" id="list-graph-list" routerLink="graph">Graph</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white border-bottom">
      <a class="btn btn-light" id="menu-toggle" data-toggle="collapse" href="#sidebar-wrapper"><span class="navbar-toggler-icon"></span></a>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
